<div class="container text-center">
  <h1>Flights#index</h1>
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <% @flights.each do |flight| %>
      <div class="panel panel-default"></div>
      <h2><%= link_to flight.flightName, flight_path(flight) %></h2>
     <% end %>
    </div>
  </div>
</div>

